.mainCol {
    height: 100vh;
    background-color: white;
    color: black;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.mainContentNight {
    height : fit-content;
    border-radius: 10px;
    font-family: Rajdhani;
    background: radial-gradient(circle at top, rgb(4, 4, 4), white);
    color: white;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
    animation: pulseNight 3s infinite alternate;
    transition: transform 0.3s ease-in-out;
    margin-top: 2px;
}

@keyframes pulseNight {
    0% {
        box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
    }
    100% {
        box-shadow: 0 0 25px rgba(255, 255, 255, 0.5);
    }
}

.mainContentDay {
    margin-top: 2px;
    height: fit-content;
    border-radius: 10px;
    font-family: Rajdhani;
    background: radial-gradient(circle at top, rgb(251, 121, 8), white);
    color: white;
    padding: 5px;
}

.upperCard{
    box-shadow: none;
    border-radius: 10px;
    width: 100%;
}

.mainContentCloud {
    height:fit-content;
    border-radius: 10px;
    font-family: Rajdhani;
    background: radial-gradient(circle at top, rgb(148, 181, 225), white);
    color: white;
    transition: opacity 1s ease-in-out;
    opacity: 0.9;
    margin-top: 2px;
    padding: 5px;
}


h1 {
    font-size: 60px;
    font-weight: bold;
    margin: 0px;
    margin-left: 5px;
    text-align: center;
    font-family: fantasy;
    transition: text-shadow 0.5s ease-in-out;
}

.ptag {
    font-size: 25px;
    margin: 0px;
    margin-left: 5px;
    margin-bottom: 10px;
    text-align: center;
    font-family: fantasy;
    transition: transform 0.3s ease-in-out;
}

.nextDayCSS {
    display: flex;
    // margin-top: 50%;
    animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}

.upperCard{
    height: fit-content;
}
ion-content, ion-grid, ion-row, ion-col {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  